body {
  font-family: Arial, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  color: #fff;
  padding: 1em;
  text-align: center;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  text-align: center;
  background-color: orange;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: bold;
}

nav button {
  background-color: orange;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  outline: none;
}

nav button:hover {
  background-color: white;
  color: black;
}

nav button:active {
  transform: translateY(2px);
}

#pageContent {
  padding: 20px;
  flex-grow: 1;
  box-sizing: border-box;
  overflow-y: auto;
}

#prayForPalestine {
  padding: 1em;
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

#prayForPalestine img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
  nav button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  header {
    padding: 0.5em;
  }
  nav {
    padding: 0.5em;
  }
  #pageContent {
    padding: 10px;
  }
  #prayForPalestine {
    padding: 0.5em;
  }
  footer {
    padding: 0.5em;
  }
}